.bg-custom{
    background-image: linear-gradient(to right,#ff9f9f,#9346f9);
  }
  
  .rHeader{
    text-align: center;
  }
  
    .profilepic{
      border-radius: 5%;
      height: 260px;
      /* width: 205px; */
      margin-bottom: 2%;
  }

  
  .customBorder{
      border: 3px solid #dee2e6!important;
      border-color: #6c757d!important;
  }

  #about{
      text-align: center;
  }
  
  .Skills {
    padding-top: 1cm;
    padding-bottom: 1cm;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    /* width: 25%; */
    text-align: center;
    align-items: center;
    /* margin-left: initial;*/
  }

  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #eee;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .Skills h1 {
    padding-bottom: 0.5cm;
    font-family: "Pacifico", cursive;
  }
  .Skills img {
    height: 100px;
    /*display: flex;
    flex-direction: column;
    float: left;*/
    /*padding-left: 0.3cm;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
  }
  
  /* .Skills img:hover { */
    /*filter: none;
    -webkit-filter: grayscale(0);*/
    /* -webkit-transform: scale(1.05);
    transform: scale(1.05);
  } */
  /* .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  } */

  html {
    scroll-behavior: smooth;
  }


  #contact{
    text-align: center;
  }

  .pageHead{
    font-family: 'Black Ops One', cursive;
  }

  .navbar-brand{
    font-family: 'Bungee', cursive;
  }

  .alert{
    font-family: 'Maven Pro', sans-serif;
  }

  .lead{
    font-family: 'Vesper Libre', serif;
  }

  #about{
    font-family: 'Ubuntu', sans-serif;
  }

  #skillsHeader{
    font-family: 'Share Tech Mono', monospace;
  }

  #contact{
    font-family: 'Rubik', sans-serif;
  }

  .nav-item{
    font-family: 'MuseoModerno', cursive;
  }
