.bg-custom{
    background-image: linear-gradient(to right,#ff9f9f,#9346f9);
  }
  
  .rHeader{
    text-align: center;
  }
  
  .profilepic{
      border-radius: 5%;
      height: 260px;
      /* width: 205px; */
      margin-bottom: 2%;
  }
  
  .customBorder{
      border: 3px solid #dee2e6!important;
      border-color: #6c757d!important;
  }

  #about{
      text-align: center;
  }
  
  .Skills {
    padding-top: 1cm;
    padding-bottom: 1cm;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    /* width: 25%; */
    text-align: center;
    align-items: center;
    /* margin-left: initial;*/
  }

  /* .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
} */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #eee;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  html {
    scroll-behavior: smooth;
  }
